.topbar {
    width: 100%;
    height: 70px;
    background-color: rgb(35, 35, 123);
    position: sticky; /* 스크롤 내려도 화면에 보이게 */
    top: 0;
    z-index: 999; /*우선순위*/
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.topRight {
    display: flex;
    align-items: center;
}

#link_btn{
    color: white;
    font-size: 14px;
    margin-left: 15px;    
    margin-right: 15px;
    cursor: pointer;
}

.logoutButton{
    all: unset;
    color: white;
    font-size: 14px;
    margin-left: 15px;    
    margin-right: 15px;
    cursor: pointer;
}

.topAvatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}