.memberEditWrapper {
    margin: 20px;
}

.search_container {
    padding: 20px 20px 20px 20px;
    margin: 20px;
    width: auto;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(176, 176, 176);
}
.input_search {
    width: 300px;
}

.input_search_btn {
    margin-left: 20px;
    width: 80px;
    height: 25px;
    border-radius: 6px;
    border: none;
    background-color: rgb(108, 108, 108);
    color: white;
    cursor: pointer;
}

.member_container {
    padding: 20px 20px 100px 20px;
    margin: 20px;
    width: auto;
    height: 400px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(176, 176, 176);

}


.memberListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 15px;
}

.memberListDelete {
    color: red;
    cursor: pointer;
}