.PasswordEditWrapper {
    margin: 20px;
}

.password_container {
    padding: 20px 20px 100px 20px;
    margin: 20px;
    width: auto;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(176, 176, 176);
}

#password_input_th{
    text-align: left;
    padding: 0px 10px 0px 15px;
    width: 250px;
    border-bottom: 1px solid rgb(180, 180, 180);
    background-color: #f0f0f0;
    font-size: 14px;
}

#password_input {
    width: 400px;  
}

.password_edit_btn{
    width: 150px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    border: none;
    background-color: rgb(68, 68, 217);
    color: white;
    padding: 7px 7px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}