.modal_container {
    padding-top: 5px;
    width: 500px;
    border: 1px solid black;
    background-color: white;
    
    /* 최상단 위치 */
    z-index: 999;
    
    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_close_btn {
    right: 10px;
    top: 10px;
}